.reveal section img {
  margin: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  max-width: 100%;
  max-height: 100%;

}

.reveal h1 {
  text-transform: none;
  font-size: 1.5em;
}

.reveal .team-avatar {
  display: inline-block;
  margin: 0 30px;
}

.reveal .team-avatar .avatar-background {
  display: inline-block;
  max-width: 300px;
  background-image: url('../assets/equipo-fondo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5px 0 0 5px;
}

.reveal .team-avatar .avatar-background img {
  width: 100%;
}

.reveal .team-avatar .name {
  font-size: 0.8em;
  line-height: 1;
  margin: 5px 0;
  font-weight: bold;
}

.reveal .team-avatar .position {
  font-size: 0.6em;
  line-height: 1;
  margin: 8px 0;
  opacity: 0.8;
}

.reveal .team-mission img {
  width: 500px;
}

.reveal .team-mission p {
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}